.form {
  width: 100%;
  padding: 2rem 0;

  &-group {
    &-single {
      width: 100%;
      margin: 1rem 0;

      input {
        padding: 1rem 2rem;
        width: 100%;
        background-color: $color-shade-subtle-gray;
        text-align: center;
        font-size: 1.6rem;
        color: white;

        &::placeholder {
          color: white;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &-double {
      margin: 1rem 0;

      label {
        margin: 1rem 0;
        display: block;
        font-size: 2.2rem;
      }

      &-container {
        display: flex;
        gap: 1rem;

        button {
          width: 100%;
          padding: 1rem 2rem;
          border-radius: 1.2rem;
          background-color: $color-shade-gray;
          font-size: 1.4rem;
          outline: none;
          border: none;
          color: white;
          transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);

          &:hover {
            cursor: pointer;
            background-color: $color-scheme-2;
          }
        }

        &-button-active {
          background-color: $color-shade-gray;
        }
      }
    }
  }
}
