.mixer {
  grid-column: 1/-1;
  background-color: $color-scheme-1;
  display: grid;
  height: min-content;
  margin: 2rem 0;

  &-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $color-scheme-1;
    height: 100vh;
    position: relative;
  }

  &-dj {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: $dark-contrast;
    padding: 0 3rem 2rem 3rem;

    &-inTheMix {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: auto;

      img {
        object-fit: cover;
        box-sizing: content-box;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
      }

      div {
        span {
          display: block;
          margin-left: 1rem;

          &:last-child {
            font-weight: 200;
            color: $color-shade-gray;
          }
        }
      }
    }

    &-upNext {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      span {
        font-size: 1.4rem;
        padding: 1rem 0;
        text-transform: capitalize;
      }

      &-photos {
        img {
          box-sizing: content-box;
          object-fit: cover;
          image-rendering: pixelated;
          image-resolution: from-image 300dpi;
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 50%;

          &:not(:last-child) {
            margin-right: -1rem;
          }
        }
      }
    }
  }

  &-track {
    &-current {
      display: flex;
      align-items: center;
      background-color: $color-dark-red;
      padding: 5rem 1rem;
      transition: all 0.5s ease-in-out;

      img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }

      span {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $color-shade-gray;
        margin-left: 1rem;

        &:last-child {
          text-transform: capitalize;
          color: white;
        }
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 10;
      }
    }

    &-next {
      display: flex;
      align-items: center;
      background-color: $color-dark-green;
      padding: 5rem 1rem;
      transition: all 0.5s ease-in-out;

      img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }

      span {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $color-shade-gray;
        margin-left: 1rem;

        &:last-child {
          text-transform: capitalize;
          color: white;
        }
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        z-index: 10;
      }
    }
  }

  &-controls {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    justify-content: space-between;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      background-color: $color-scheme-5;
      height: 0.5rem;
      width: 3rem;
      border-radius: 3rem;
      margin-top: -0.5rem;
      margin-left: -0.5rem;
      transition: all 0.5s ease-in-out;
    }

    &:hover::before {
      margin-top: -1rem;
      cursor: pointer;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      background-color: $color-scheme-5;
      height: 0.5rem;
      width: 3rem;
      border-radius: 3rem;
      margin-top: 0.5rem;
      margin-left: -0.5rem;
      transition: all 0.5s ease-in-out;
    }

    &:hover::after {
      margin-top: 1rem;
      cursor: pointer;
    }

    &-single {
      height: 10rem;
      width: 5rem;
      fill: $color-soft-blue;
    }

    &-double {
      display: flex;

      svg {
        height: 10rem;
        width: 5rem;
        fill: $color-shade-subtle-gray;
      }
    }

    &-replay {
      height: 10rem;
      width: 10rem;
      fill: $color-shade-subtle-gray;
    }
  }

  &-soundeffects {
    display: flex;
    justify-content: space-around;

    svg {
      height: 5rem;
      width: 5rem;
      fill: $color-shade-subtle-gray;
    }
  }
}
