.mixer {
  grid-column: 1/-1;
  background-color: $color-scheme-1;
  height: auto;
  display: flex;
  flex-direction: column;
  height: auto;

  &-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $color-scheme-1;
    height: 100vh;
    position: relative;
  }

  &-dj {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: $dark-contrast;
    padding: 0 3rem 2rem 3rem;
    height: auto;

    &-inTheMix {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: auto;

      img {
        object-fit: cover;
        box-sizing: content-box;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }

      div {
        span {
          display: block;
          margin-left: 1rem;

          &:last-child {
            font-weight: 200;
            color: $color-shade-gray;
          }
        }
      }
    }

    &-upNext {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      span {
        font-size: 1.4rem;
        padding: 1rem 0;
        text-transform: capitalize;
      }

      &-photos {
        img {
          box-sizing: content-box;
          object-fit: cover;
          image-rendering: pixelated;
          image-resolution: from-image 300dpi;
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 50%;

          &:not(:last-child) {
            margin-right: -1rem;
          }
        }
      }
    }
  }

  &-track {
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: column;

    &-current {
      flex-grow: 1;
      display: flex;
      align-items: center;
      background-color: $color-dark-red;
      padding: 5rem 3rem;
      height: auto;
      transition: all 0.5s ease-in-out;
      position: relative;

      img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        z-index: 2;

        @media only screen and (max-width: $large) {
          margin: 2rem 0 0 0;
        }
      }

      span {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $color-shade-gray;
        margin-left: 1rem;
        z-index: 2;
        color: white;

        &:last-child {
          text-transform: capitalize;
          color: white;
        }

        @media only screen and (max-width: $large) {
          margin: 2rem 0 0 1rem;
        }
      }

      &:hover {
        cursor: pointer;
        z-index: 10;
      }

      &-off {
        color: $color-scheme-1 !important;
        font-size: 1.8rem;
        z-index: 2;

        @media only screen and (max-width: $large) {
          margin: 2rem 0 0 0;
        }
      }

      &-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;

        &-container {
          height: 100%;
          width: 100%;
          padding: 0;
          margin: 0;
          position: relative;

          span:nth-child(1n) {
            position: absolute;
            left: 0;
            bottom: 15%;
            width: 40%;
            height: 50%;
            background-color: $color-scheme-3;
            z-index: 1;
            padding: 0;
            margin: 0;
          }

          span:nth-child(2n) {
            position: absolute;
            left: 40%;
            bottom: 0;
            width: 10%;
            height: 100%;
            background-color: $color-scheme-3;
            z-index: 1;
          }

          span:nth-child(3n) {
            position: absolute;
            left: 50%;
            bottom: 15%;
            width: 35%;
            height: 50%;
            background-color: $color-scheme-3;
            z-index: 1;
          }

          span:nth-child(4n) {
            position: absolute;
            left: 85%;
            bottom: 0;
            width: 10%;
            height: 65%;
            background-color: $color-scheme-3;
            z-index: 1;
          }

          span:nth-child(5n) {
            position: absolute;
            left: 95%;
            bottom: 0;
            width: 5%;
            height: 100%;
            background-color: $color-scheme-3;
            z-index: 1;
          }
        }
      }
    }

    &-next {
      flex-grow: 1;
      display: flex;
      align-items: center;
      background-color: #1e2c1e;
      // background-image: linear-gradient(
      //     90deg,
      //     $color-shade-dark-gray,
      //     $color-shade-subtle-gray,
      //     $color-shade-gray,
      //     transparent
      //   ),
      //   linear-gradient(
      //     90deg,
      //     $color-shade-dark-gray,
      //     $color-shade-subtle-gray,
      //     $color-shade-gray,
      //     transparent
      //   ),
      //   linear-gradient(
      //     90deg,
      //     $color-shade-dark-gray,
      //     $color-shade-subtle-gray,
      //     $color-shade-gray,
      //     transparent
      //   );
      // background-blend-mode: screen;
      padding: 5rem 3rem;
      height: auto;
      width: 100%;
      transition: all 1s ease-in-out;
      position: relative;
      // animation-name: background-live;
      // animation-duration: 1s;
      // animation-iteration-count: infinite;
      // animation-direction: alternate;
      // animation-timing-function: linear;

      img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        z-index: 10;
      }

      span {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: white;
        margin-left: 1rem;

        &:last-child {
          text-transform: capitalize;
          color: white;
        }
        z-index: 10;
      }

      &:hover {
        cursor: pointer;
        z-index: 10;
      }

      &-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;

        &-container {
          height: 100%;
          width: 100%;
          padding: 0;
          margin: 0;
          position: relative;

          span:nth-child(1n) {
            position: absolute;
            left: 0;
            bottom: 15%;
            width: 30%;
            height: 50%;
            background-color: $color-scheme-2;
            z-index: 1;
            padding: 0;
            margin: 0;
          }

          span:nth-child(2n) {
            position: absolute;
            left: 30%;
            bottom: 0;
            width: 10%;
            height: 100%;
            background-color: $color-scheme-2;
            z-index: 1;
          }

          span:nth-child(3n) {
            position: absolute;
            left: 40%;
            bottom: 15%;
            width: 45%;
            height: 50%;
            background-color: $color-scheme-2;
            z-index: 1;
          }

          span:nth-child(4n) {
            position: absolute;
            left: 85%;
            bottom: 0;
            width: 10%;
            height: 100%;
            background-color: $color-scheme-2;
            z-index: 1;
          }

          span:nth-child(5n) {
            position: absolute;
            left: 95%;
            bottom: 50%;
            width: 5%;
            height: 20%;
            background-color: $color-scheme-2;
            z-index: 1;
          }
        }
      }
    }

    &-ripples-current {
      position: absolute;
      width: 100%;
      height: 80%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: $medium-small) {
        width: 80%;
      }

      span {
        position: absolute;
        box-sizing: border-box;
        border-left: 0.4rem solid $dark-contrast;
        border-right: 0.4rem solid $dark-contrast;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        animation: ripple 5s linear infinite;
        animation-delay: calc(-0.5s * var(--i));
      }
    }

    &-ripples-next {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: $medium-small) {
        width: 80%;
      }

      span {
        position: absolute;
        box-sizing: border-box;
        border-left: 0.4rem solid $color-scheme-2;
        border-right: 0.4rem solid $color-scheme-2;
        animation: ripple 5s linear infinite;
        animation-delay: calc(-0.5s * var(--i));
        transform: rotateX(180deg);
      }
    }
  }

  &-controls {
    display: flex;
    align-items: center;
    padding: 3rem 3rem;
    justify-content: space-between;
    position: relative;
    transition: all 1s ease-in-out;

    &-container {
      width: 100%;
      padding: 0 0 3rem 0;
      border: none;
      outline: none;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: -2.5rem;
        left: 50%;
        margin-left: -1.5rem;
        background-color: $color-scheme-1;
        height: 2.5rem;
        width: 6rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        z-index: 20;
      }

      &:hover::before {
        cursor: pointer;
      }
    }

    &-toggle {
      position: absolute;
      top: -2.5rem;
      left: 50%;
      z-index: 100;

      svg {
        width: 3rem;
        height: 3rem;
        fill: white;
      }
    }

    &-single {
      height: 10rem;
      width: 5rem;
      fill: $color-shade-subtle-gray;
      transition: all 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scaleX(1.1);
        fill: $color-soft-blue;
      }
    }

    &-double {
      display: flex;
      transition: all 1s ease-in-out;

      svg {
        height: 10rem;
        width: 5rem;
        fill: $color-shade-subtle-gray;
        transition: all 0.5s ease-in-out;
      }

      &:hover > svg {
        cursor: pointer;
        fill: $color-soft-blue;
      }
    }

    &-replay {
      height: 10rem;
      width: 10rem;
      fill: $color-shade-subtle-gray;
      transition: all 1s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scaleX(1.1);
        fill: $color-soft-blue;
      }
    }
  }

  &-soundeffects {
    display: flex;
    justify-content: space-around;
    transition: all 1s ease-in-out;

    svg {
      height: 5rem;
      width: 5rem;
      fill: $color-shade-subtle-gray;
      transition: all 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scaleX(1.1);
        fill: $color-soft-blue;
      }
    }
  }
}

.hide {
  visibility: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

.open {
  position: absolute;
  top: -2rem;
  left: 50%;
  margin-left: 0.5rem;
  z-index: 100;

  svg {
    height: 2rem !important;
    width: 2rem !important;
  }
}

.show {
  -webkit-animation: slideUp 1s ease-in-out; /* Safari & Chrome */
  -moz-animation: slideUp 1s ease-in-out; /* Firefox */
  -ms-animation: slideUp 1s ease-in-out; /* Internet Explorer */
  -o-animation: slideUp 1s ease-in-out; /* Opera */
  animation: slideUp 1s ease-in-out;
}

.none > * {
  width: 0rem !important;
  height: 0rem !important;
}

.transparent {
  background-image: rgba($color-shade-dark-gray, 0.3);
}
