*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: env(safe-area-inset); }

html,
body {
  overflow-x: hidden; }

body {
  font-family: freight-neo-pro, sans-serif;
  font-style: normal;
  line-height: 1.6; }

.home {
  grid-column: 1/-1;
  background-color: #101013;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: min-content;
  position: relative; }
  .home-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #101013;
    height: 100vh;
    position: relative; }
  .home-icon {
    grid-column: 1/-1;
    justify-self: center;
    fill: #3ad24d;
    width: 10rem;
    margin: 2rem 0 0 0; }
  .home h1 {
    grid-column: 1/-1;
    color: white;
    justify-self: center;
    font-size: 4.2rem;
    font-weight: 900;
    margin: 1rem 0;
    padding: 0;
    transform: rotateZ(-5deg);
    position: relative; }
    .home h1::before {
      content: 'YourUp';
      position: absolute;
      top: 0;
      left: 0;
      color: #3ad24d;
      overflow: hidden;
      animation: flash 2s ease-in infinite forwards;
      transition: all 0.5s; }
    .home h1:hover::before {
      cursor: pointer; }
  .home h6 {
    grid-column: 1/-1;
    color: white;
    justify-self: center;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1rem 2rem;
    margin: 1rem 0;
    background-color: #4b4f4d; }
  .home-login-google {
    grid-column: 1/-1;
    background-color: transparent;
    justify-self: center;
    border: none;
    outline: none;
    margin: 3rem 0 1rem 0;
    transition: all 0.5s; }
    .home-login-google img {
      width: 20rem;
      background-color: transparent;
      border: none;
      outline: none; }
    .home-login-google:hover {
      box-shadow: 0rem 0.5rem 2rem 0.2rem rgba(134, 136, 144, 0.5);
      transform: scale(1.2);
      cursor: pointer; }
  .home-login-facebook {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 1rem 0;
    background-color: #3351a3;
    width: 20rem;
    height: auto;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    transition: all 0.5s; }
    .home-login-facebook svg {
      width: 3rem;
      height: 3rem;
      fill: white; }
    .home-login-facebook span {
      width: 100%;
      color: white;
      justify-self: center;
      font-size: auto; }
    .home-login-facebook:hover {
      box-shadow: 0rem 0.5rem 2rem 0.2rem rgba(134, 136, 144, 0.5);
      -webkit-transform: scale(1.2);
      /* Safari & Chrome */
      -moz-transform: scale(1.2);
      /* Firefox */
      -ms-transform: scale(1.2);
      /* Internet Explorer */
      -o-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer; }
  .home-wave {
    bottom: 0;
    position: relative;
    height: 20rem;
    width: 100vw; }
    @media only screen and (max-width: 320px) {
      .home-wave {
        height: 10rem !important; } }
    @media only screen and (max-width: 600px) {
      .home-wave {
        height: 20rem; } }
    @media only screen and (min-width: 600px) {
      .home-wave {
        height: 40rem; } }
    @media only screen and (min-width: 600px) and (min-height: 786px) {
      .home-wave {
        height: 100%; } }
    @media only screen and (min-width: 768px) {
      .home-wave {
        height: 40rem; } }
    @media only screen and (min-width: 1200px) {
      .home-wave {
        height: 100%; } }
    .home-wave-container {
      position: absolute;
      bottom: 0; }
      @media only screen and (min-width: 500px) {
        .home-wave-container {
          position: relative; } }
      @media only screen and (min-width: 768px) {
        .home-wave-container {
          position: relative; } }

#firebaseui_container {
  grid-column: 1/-1;
  background-color: transparent;
  justify-self: center;
  border: none;
  outline: none;
  margin: 2rem 0 1rem 0;
  transition: all 0.5s; }

.firebaseui-list-item button {
  transition: all 1s; }

.firebaseui-list-item button:hover {
  box-shadow: 0rem 0.5rem 2rem 0.2rem rgba(134, 136, 144, 0.5);
  -webkit-transform: scale(1.2);
  /* Safari & Chrome */
  -moz-transform: scale(1.2);
  /* Firefox */
  -ms-transform: scale(1.2);
  /* Internet Explorer */
  -o-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer; }

.test {
  color: white;
  font-size: 5rem; }

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto; }

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, transparent 5%, #3ad24d 10%, #101013 80%); }

.bgTop {
  z-index: 15;
  opacity: 0.5; }

.bgMiddle {
  z-index: 10;
  opacity: 0.75; }

.bgBottom {
  z-index: 5; }

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom; }

.waveTop {
  background-size: 50% 100px; }

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.waveMiddle {
  background-size: 50% 120px; }

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite; }

.waveBottom {
  background-size: 50% 100px; }

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite; }

.waveAnimation {
  background-color: #101013; }

.mixer {
  grid-column: 1/-1;
  background-color: #101013;
  height: auto;
  display: flex;
  flex-direction: column;
  height: auto; }
  .mixer-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #101013;
    height: 100vh;
    position: relative; }
  .mixer-dj {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 3rem 2rem 3rem;
    height: auto; }
    .mixer-dj-inTheMix {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: auto; }
      .mixer-dj-inTheMix img {
        object-fit: cover;
        box-sizing: content-box;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        width: 6rem;
        height: 6rem;
        border-radius: 50%; }
      .mixer-dj-inTheMix div span {
        display: block;
        margin-left: 1rem; }
        .mixer-dj-inTheMix div span:last-child {
          font-weight: 200;
          color: #a1a1a1; }
    .mixer-dj-upNext {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .mixer-dj-upNext span {
        font-size: 1.4rem;
        padding: 1rem 0;
        text-transform: capitalize; }
      .mixer-dj-upNext-photos img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%; }
        .mixer-dj-upNext-photos img:not(:last-child) {
          margin-right: -1rem; }
  .mixer-track {
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: column; }
    .mixer-track-current {
      flex-grow: 1;
      display: flex;
      align-items: center;
      background-color: #3c0001;
      padding: 5rem 3rem;
      height: auto;
      transition: all 0.5s ease-in-out; }
      .mixer-track-current img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        width: 6rem;
        height: 6rem;
        border-radius: 50%; }
      .mixer-track-current span {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #a1a1a1;
        margin-left: 1rem; }
        .mixer-track-current span:last-child {
          text-transform: capitalize;
          color: white; }
      .mixer-track-current:hover {
        cursor: pointer;
        z-index: 10; }
    .mixer-track-next {
      flex-grow: 1;
      display: flex;
      align-items: center;
      background-color: #1e2c1e;
      padding: 5rem 3rem;
      height: auto;
      transition: all 0.5s ease-in-out; }
      .mixer-track-next img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        width: 6rem;
        height: 6rem;
        border-radius: 50%; }
      .mixer-track-next span {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #a1a1a1;
        margin-left: 1rem; }
        .mixer-track-next span:last-child {
          text-transform: capitalize;
          color: white; }
      .mixer-track-next:hover {
        cursor: pointer;
        z-index: 10; }
  .mixer-controls {
    display: flex;
    align-items: center;
    padding: 3rem 3rem;
    justify-content: space-between;
    position: relative;
    transition: all 1s ease-in-out; }
    .mixer-controls-container {
      width: 100%;
      padding: 0 0 3rem 0;
      border: none;
      outline: none;
      position: relative; }
      .mixer-controls-container:before {
        content: '';
        position: absolute;
        top: -2.5rem;
        left: 50%;
        margin-left: -1.5rem;
        background-color: #101013;
        height: 2.5rem;
        width: 6rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        z-index: 20; }
      .mixer-controls-container:hover::before {
        cursor: pointer; }
    .mixer-controls-toggle {
      position: absolute;
      top: -2.5rem;
      left: 50%;
      z-index: 100; }
      .mixer-controls-toggle svg {
        width: 3rem;
        height: 3rem;
        fill: white; }
    .mixer-controls-single {
      height: 10rem;
      width: 5rem;
      fill: #222222;
      transition: all 1s ease-in-out; }
      .mixer-controls-single:hover {
        cursor: pointer;
        transform: scaleX(1.1);
        fill: #14a3ff; }
    .mixer-controls-double {
      display: flex;
      transition: all 1s ease-in-out; }
      .mixer-controls-double svg {
        height: 10rem;
        width: 5rem;
        fill: #222222; }
      .mixer-controls-double:hover > svg {
        cursor: pointer;
        fill: #14a3ff; }
    .mixer-controls-replay {
      height: 10rem;
      width: 10rem;
      fill: #222222;
      transition: all 1s ease-in-out; }
      .mixer-controls-replay:hover {
        cursor: pointer;
        transform: scaleX(1.1);
        fill: #14a3ff; }
  .mixer-soundeffects {
    display: flex;
    justify-content: space-around;
    transition: all 1s ease-in-out; }
    .mixer-soundeffects svg {
      height: 5rem;
      width: 5rem;
      fill: #222222; }
      .mixer-soundeffects svg:hover {
        cursor: pointer;
        transform: scaleX(1.1);
        fill: #14a3ff; }

.hide {
  visibility: hidden;
  padding: 0 !important;
  margin: 0 !important; }

.open {
  position: absolute;
  top: -2rem;
  left: 50%;
  margin-left: 0.5rem;
  z-index: 100; }
  .open svg {
    height: 2rem !important;
    width: 2rem !important; }

.show {
  -webkit-animation: slideUp 1s ease-in-out;
  /* Safari & Chrome */
  -moz-animation: slideUp 1s ease-in-out;
  /* Firefox */
  -ms-animation: slideUp 1s ease-in-out;
  /* Internet Explorer */
  -o-animation: slideUp 1s ease-in-out;
  /* Opera */
  animation: slideUp 1s ease-in-out; }

.none > * {
  width: 0rem !important;
  height: 0rem !important; }

@keyframes flash {
  0% {
    width: 0%; }
  50% {
    width: 100%; }
  100% {
    width: 500%; } }

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1); } }

@keyframes slideUp {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }
