*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: env(safe-area-inset);
  background-color: #101013;
  color: white; }

html,
body {
  overflow-x: hidden; }

body {
  font-family: freight-neo-pro, sans-serif;
  font-style: normal;
  line-height: 1.6; }

.home {
  grid-column: 1/-1;
  background-color: #101013;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: min-content;
  position: relative; }
  .home-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #101013;
    height: 100vh;
    position: relative; }
  .home-icon {
    grid-column: 1/-1;
    justify-self: center;
    fill: #3ad24d;
    width: 10rem;
    margin: 2rem 0 0 0; }
  .home h1 {
    grid-column: 1/-1;
    color: white;
    justify-self: center;
    font-size: 4.2rem;
    font-weight: 900;
    margin: 1rem 0;
    padding: 0;
    transform: rotateZ(-5deg);
    position: relative; }
    .home h1::before {
      content: 'YourUp';
      position: absolute;
      top: 0;
      left: 0;
      color: #3ad24d;
      overflow: hidden;
      animation: flash 2s ease-in infinite forwards;
      transition: all 0.5s; }
    .home h1:hover::before {
      cursor: pointer; }
  .home h6 {
    grid-column: 1/-1;
    color: white;
    justify-self: center;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1rem 2rem;
    margin: 1rem 0;
    background-color: #4b4f4d; }
  .home-login-google {
    grid-column: 1/-1;
    background-color: transparent;
    justify-self: center;
    border: none;
    outline: none;
    margin: 3rem 0 1rem 0;
    transition: all 0.5s; }
    .home-login-google img {
      width: 20rem;
      background-color: transparent;
      border: none;
      outline: none; }
    .home-login-google:hover {
      box-shadow: 0rem 0.5rem 2rem 0.2rem rgba(134, 136, 144, 0.5);
      transform: scale(1.2);
      cursor: pointer; }
  .home-login-facebook {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 1rem 0;
    background-color: #3351a3;
    width: 20rem;
    height: auto;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    transition: all 0.5s; }
    .home-login-facebook svg {
      width: 3rem;
      height: 3rem;
      fill: white; }
    .home-login-facebook span {
      width: 100%;
      color: white;
      justify-self: center;
      font-size: auto; }
    .home-login-facebook:hover {
      box-shadow: 0rem 0.5rem 2rem 0.2rem rgba(134, 136, 144, 0.5);
      -webkit-transform: scale(1.2);
      /* Safari & Chrome */
      -moz-transform: scale(1.2);
      /* Firefox */
      -ms-transform: scale(1.2);
      /* Internet Explorer */
      -o-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer; }
  .home-wave {
    bottom: 0;
    position: relative;
    height: 20rem;
    width: 100vw; }
    @media only screen and (max-width: 320px) {
      .home-wave {
        height: 10rem !important; } }
    @media only screen and (max-width: 600px) {
      .home-wave {
        height: 20rem; } }
    @media only screen and (min-width: 600px) {
      .home-wave {
        height: 40rem; } }
    @media only screen and (min-width: 600px) and (min-height: 786px) {
      .home-wave {
        height: 100%; } }
    @media only screen and (min-width: 768px) {
      .home-wave {
        height: 40rem; } }
    @media only screen and (min-width: 1200px) {
      .home-wave {
        height: 100%; } }
    .home-wave-container {
      position: absolute;
      bottom: 0; }
      @media only screen and (min-width: 500px) {
        .home-wave-container {
          position: relative; } }
      @media only screen and (min-width: 768px) {
        .home-wave-container {
          position: relative; } }

#firebaseui_container {
  grid-column: 1/-1;
  background-color: transparent;
  justify-self: center;
  border: none;
  outline: none;
  margin: 2rem 0 1rem 0;
  transition: all 0.5s; }

.firebaseui-list-item button {
  transition: all 1s; }

.firebaseui-list-item button:hover {
  box-shadow: 0rem 0.5rem 2rem 0.2rem rgba(134, 136, 144, 0.5);
  -webkit-transform: scale(1.2);
  /* Safari & Chrome */
  -moz-transform: scale(1.2);
  /* Firefox */
  -ms-transform: scale(1.2);
  /* Internet Explorer */
  -o-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer; }

.test {
  color: white;
  font-size: 5rem; }

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto; }

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, transparent 5%, #3ad24d 10%, #101013 80%); }

.bgTop {
  z-index: 15;
  opacity: 0.5; }

.bgMiddle {
  z-index: 10;
  opacity: 0.75; }

.bgBottom {
  z-index: 5; }

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom; }

.waveTop {
  background-size: 50% 100px; }

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.waveMiddle {
  background-size: 50% 120px; }

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite; }

.waveBottom {
  background-size: 50% 100px; }

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite; }

.waveAnimation {
  background-color: #101013; }

.mixer {
  grid-column: 1/-1;
  background-color: #101013;
  height: auto;
  display: flex;
  flex-direction: column;
  height: auto; }
  .mixer-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #101013;
    height: 100vh;
    position: relative; }
  .mixer-dj {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 3rem 2rem 3rem;
    height: auto; }
    .mixer-dj-inTheMix {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: auto; }
      .mixer-dj-inTheMix img {
        object-fit: cover;
        box-sizing: content-box;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        width: 6rem;
        height: 6rem;
        border-radius: 50%; }
      .mixer-dj-inTheMix div span {
        display: block;
        margin-left: 1rem; }
        .mixer-dj-inTheMix div span:last-child {
          font-weight: 200;
          color: #a1a1a1; }
    .mixer-dj-upNext {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .mixer-dj-upNext span {
        font-size: 1.4rem;
        padding: 1rem 0;
        text-transform: capitalize; }
      .mixer-dj-upNext-photos img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%; }
        .mixer-dj-upNext-photos img:not(:last-child) {
          margin-right: -1rem; }
  .mixer-track {
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: column; }
    .mixer-track-current {
      flex-grow: 1;
      display: flex;
      align-items: center;
      background-color: #3c0001;
      padding: 5rem 3rem;
      height: auto;
      transition: all 0.5s ease-in-out;
      position: relative; }
      .mixer-track-current img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        z-index: 2; }
        @media only screen and (max-width: 992px) {
          .mixer-track-current img {
            margin: 2rem 0 0 0; } }
      .mixer-track-current span {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #a1a1a1;
        margin-left: 1rem;
        z-index: 2;
        color: white; }
        .mixer-track-current span:last-child {
          text-transform: capitalize;
          color: white; }
        @media only screen and (max-width: 992px) {
          .mixer-track-current span {
            margin: 2rem 0 0 1rem; } }
      .mixer-track-current:hover {
        cursor: pointer;
        z-index: 10; }
      .mixer-track-current-off {
        color: white !important;
        text-transform: unset !important;
        font-size: 1.8rem;
        z-index: 5; }
        @media only screen and (max-width: 992px) {
          .mixer-track-current-off {
            margin: 2rem 0 0 0; } }
      .mixer-track-current-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0; }
        .mixer-track-current-background-container {
          height: 100%;
          width: 100%;
          padding: 0;
          margin: 0;
          position: relative; }
          .mixer-track-current-background-container span:nth-child(1n) {
            position: absolute;
            left: 0;
            bottom: 15%;
            width: 40%;
            height: 50%;
            background-color: #f0483d;
            z-index: 1;
            padding: 0;
            margin: 0; }
          .mixer-track-current-background-container span:nth-child(2n) {
            position: absolute;
            left: 40%;
            bottom: 0;
            width: 10%;
            height: 100%;
            background-color: #f0483d;
            z-index: 1; }
          .mixer-track-current-background-container span:nth-child(3n) {
            position: absolute;
            left: 50%;
            bottom: 15%;
            width: 35%;
            height: 50%;
            background-color: #f0483d;
            z-index: 1; }
          .mixer-track-current-background-container span:nth-child(4n) {
            position: absolute;
            left: 85%;
            bottom: 0;
            width: 10%;
            height: 65%;
            background-color: #f0483d;
            z-index: 1; }
          .mixer-track-current-background-container span:nth-child(5n) {
            position: absolute;
            left: 95%;
            bottom: 0;
            width: 5%;
            height: 100%;
            background-color: #f0483d;
            z-index: 1; }
    .mixer-track-next {
      flex-grow: 1;
      display: flex;
      align-items: center;
      background-color: #1e2c1e;
      padding: 5rem 3rem;
      height: auto;
      width: 100%;
      transition: all 1s ease-in-out;
      position: relative; }
      .mixer-track-next img {
        box-sizing: content-box;
        object-fit: cover;
        image-rendering: pixelated;
        image-resolution: from-image 300dpi;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        z-index: 10; }
      .mixer-track-next span {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: white;
        margin-left: 1rem;
        z-index: 10; }
        .mixer-track-next span:last-child {
          text-transform: capitalize;
          color: white; }
      .mixer-track-next:hover {
        cursor: pointer;
        z-index: 10; }
      .mixer-track-next-background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0; }
        .mixer-track-next-background-container {
          height: 100%;
          width: 100%;
          padding: 0;
          margin: 0;
          position: relative; }
          .mixer-track-next-background-container span:nth-child(1n) {
            position: absolute;
            left: 0;
            bottom: 15%;
            width: 30%;
            height: 50%;
            background-color: #3ad24d;
            z-index: 1;
            padding: 0;
            margin: 0; }
          .mixer-track-next-background-container span:nth-child(2n) {
            position: absolute;
            left: 30%;
            bottom: 0;
            width: 10%;
            height: 100%;
            background-color: #3ad24d;
            z-index: 1; }
          .mixer-track-next-background-container span:nth-child(3n) {
            position: absolute;
            left: 40%;
            bottom: 15%;
            width: 45%;
            height: 50%;
            background-color: #3ad24d;
            z-index: 1; }
          .mixer-track-next-background-container span:nth-child(4n) {
            position: absolute;
            left: 85%;
            bottom: 0;
            width: 10%;
            height: 100%;
            background-color: #3ad24d;
            z-index: 1; }
          .mixer-track-next-background-container span:nth-child(5n) {
            position: absolute;
            left: 95%;
            bottom: 50%;
            width: 5%;
            height: 20%;
            background-color: #3ad24d;
            z-index: 1; }
    .mixer-track-ripples-current {
      position: absolute;
      width: 100%;
      height: 80%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 500px) {
        .mixer-track-ripples-current {
          width: 80%; } }
      .mixer-track-ripples-current span {
        position: absolute;
        box-sizing: border-box;
        border-left: 0.4rem solid white;
        border-right: 0.4rem solid white;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        animation: ripple 5s linear infinite;
        animation-delay: calc(-0.5s * var(--i)); }
    .mixer-track-ripples-next {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 500px) {
        .mixer-track-ripples-next {
          width: 80%; } }
      .mixer-track-ripples-next span {
        position: absolute;
        box-sizing: border-box;
        border-left: 0.4rem solid #3ad24d;
        border-right: 0.4rem solid #3ad24d;
        animation: ripple 5s linear infinite;
        animation-delay: calc(-0.5s * var(--i));
        transform: rotateX(180deg); }
  .mixer-controls {
    display: flex;
    align-items: center;
    padding: 3rem 3rem;
    justify-content: space-between;
    position: relative;
    transition: all 1s ease-in-out; }
    .mixer-controls-container {
      width: 100%;
      padding: 0 0 3rem 0;
      border: none;
      outline: none;
      position: relative; }
      .mixer-controls-container:before {
        content: '';
        position: absolute;
        top: -2.5rem;
        left: 50%;
        margin-left: -1.5rem;
        background-color: #101013;
        height: 2.5rem;
        width: 6rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        z-index: 20; }
      .mixer-controls-container:hover::before {
        cursor: pointer; }
    .mixer-controls-toggle {
      position: absolute;
      top: -2.5rem;
      left: 50%;
      z-index: 100; }
      .mixer-controls-toggle svg {
        width: 3rem;
        height: 3rem;
        fill: white; }
    .mixer-controls-single {
      height: 10rem;
      width: 5rem;
      fill: #222222;
      transition: all 0.5s ease-in-out; }
      .mixer-controls-single:hover {
        cursor: pointer;
        transform: scaleX(1.1);
        fill: #14a3ff; }
    .mixer-controls-double {
      display: flex;
      transition: all 1s ease-in-out; }
      .mixer-controls-double svg {
        height: 10rem;
        width: 5rem;
        fill: #222222;
        transition: all 0.5s ease-in-out; }
      .mixer-controls-double:hover > svg {
        cursor: pointer;
        fill: #14a3ff; }
    .mixer-controls-replay {
      height: 10rem;
      width: 10rem;
      fill: #222222;
      transition: all 1s ease-in-out; }
      .mixer-controls-replay:hover {
        cursor: pointer;
        transform: scaleX(1.1);
        fill: #14a3ff; }
  .mixer-soundeffects {
    display: flex;
    justify-content: space-around;
    transition: all 1s ease-in-out; }
    .mixer-soundeffects svg {
      height: 5rem;
      width: 5rem;
      fill: #222222;
      transition: all 0.5s ease-in-out; }
      .mixer-soundeffects svg:hover {
        cursor: pointer;
        transform: scaleX(1.1);
        fill: #14a3ff; }

.hide {
  visibility: hidden;
  padding: 0 !important;
  margin: 0 !important; }

.open {
  position: absolute;
  top: -2rem;
  left: 50%;
  margin-left: 0.5rem;
  z-index: 100; }
  .open svg {
    height: 2rem !important;
    width: 2rem !important; }

.show {
  -webkit-animation: slideUp 1s ease-in-out;
  /* Safari & Chrome */
  -moz-animation: slideUp 1s ease-in-out;
  /* Firefox */
  -ms-animation: slideUp 1s ease-in-out;
  /* Internet Explorer */
  -o-animation: slideUp 1s ease-in-out;
  /* Opera */
  animation: slideUp 1s ease-in-out; }

.none > * {
  width: 0rem !important;
  height: 0rem !important; }

.transparent {
  background-image: rgba(75, 79, 77, 0.3); }

.selectDevice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 0 5rem; }
  @media only screen and (max-width: 992px) {
    .selectDevice {
      padding: 0 5rem; } }
  .selectDevice-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    box-sizing: border-box;
    padding: 5rem;
    border-radius: 3rem;
    margin: 0; }
    @media only screen and (max-width: 992px) {
      .selectDevice-container {
        padding: 0 5rem;
        width: 100%; } }
  .selectDevice-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    margin: 2rem 0;
    font-size: 1.6rem;
    position: relative;
    border-radius: 3rem;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .selectDevice-item:hover {
      cursor: pointer;
      transform: translateY(-0.5rem); }
    .selectDevice-item svg {
      width: 5rem;
      height: 5rem;
      fill: #3ad24d; }
    .selectDevice-item span {
      text-transform: uppercase;
      padding: 2rem 1rem;
      background-color: white;
      color: #101013;
      width: 110%;
      text-align: center;
      margin-left: 2rem;
      border-radius: 3rem; }
    @media only screen and (max-width: 992px) {
      .selectDevice-item {
        width: 100%; } }

.instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%; }
  .instructions-button {
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    outline: none;
    border: none;
    font-size: 1.8rem;
    background-color: #3ad24d;
    color: white; }
    .instructions-button:hover {
      cursor: pointer; }
  .instructions-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0; }
    .instructions-container-title {
      text-align: center;
      font-size: 3.2rem;
      text-transform: uppercase;
      color: #3ad24d;
      font-weight: 700;
      padding: 2rem 0; }
    .instructions-container-item {
      display: flex;
      align-items: center;
      margin: 1rem 0; }
      .instructions-container-item-single {
        width: 3rem;
        height: 3rem;
        fill: #3ad24d; }
      .instructions-container-item-double svg {
        width: 1rem;
        height: 3rem;
        fill: #3ad24d; }
      .instructions-container-item-rewind {
        width: 3rem;
        height: 3rem;
        fill: #3ad24d; }
      .instructions-container-item-next {
        width: 3rem;
        height: 3rem;
        fill: #3ad24d; }
      .instructions-container-item-current {
        width: 3rem;
        height: 3rem;
        fill: red; }
      .instructions-container-item-samples {
        width: 3rem;
        height: 3rem;
        fill: #34a0ff; }
      .instructions-container-item span {
        margin-left: 1rem;
        font-size: 1.8rem; }

.pulse {
  animation: pulse 1250ms infinite; }

.shake {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0); }

.loading {
  width: 100px;
  height: 100px;
  background-color: #3ad24d;
  border-radius: 1.2rem;
  animation: loading 2s linear infinite; }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    perspective: 200px; }

@keyframes flash {
  0% {
    width: 0%; }
  50% {
    width: 100%; }
  100% {
    width: 500%; } }

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1); } }

@keyframes slideUp {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1; }
  50% {
    opacity: 0.8;
    border-left: 0.4rem solid #34a0ff;
    border-right: 0.4rem solid #3ad24d; }
  75% {
    opacity: 0.7;
    border-left: 0.5rem solid #3ad24d;
    border-right: 0.5rem solid #34a0ff; }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
    border-left: 0.2rem solid #34a0ff;
    border-right: 0.2rem solid #3ad24d; } }

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.9; }
  100% {
    transform: scale(0.95);
    opacity: 0; } }

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 1rem, 0); }
  20%,
  80% {
    transform: translate3d(2px, -0.5rem, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 1rem, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0.5rem, 0); } }

@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg); }
  50% {
    transform: rotateX(0deg) rotateY(180deg); }
  100% {
    transform: rotateX(180deg) rotateY(180deg); } }
